@font-face {
    font-family: 'product_sansbold_italic';
    src: url('./fonts/product_sans_bold_italic-webfont.woff2') format('woff2'),
        url('./fonts/product_sans_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'product_sansbold';
    src: url('./fonts/product_sans_bold-webfont.woff2') format('woff2'),
        url('./fonts/product_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'product_sansitalic';
    src: url('./fonts/product_sans_italic-webfont.woff2') format('woff2'),
        url('./fonts/product_sans_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'product_sansregular';
    src: url('./fonts/product_sans_regular-webfont.woff2') format('woff2'),
        url('./fonts/product_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html,
body {
    margin: 0;
    font-family: 'product_sansregular';
    height: 100%;
    display: flex;
    flex-direction: column;
}

main,
#home {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: green;
    height: 3.5rem;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    height: 3.5rem;

}

li {
    border-radius: 20%;
}

li a {
    text-decoration: none;

}

a:visited {
    color: inherit;
}

.button {
    font-family: 'product_sansregular';
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 1rem;
    width: 300px;
}

.product-title {
    font-size: 20px;
    font-weight: bold;
}

.product-price {
    font-size: 18px;
    color: #888;
}

.product-description {
    margin-top: 10px;
}

.view-more-button {
    display: block;
    margin-top: 10px;
    text-align: right;
    color: #fff;
    background-color: #007bff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
}

.view-more-button:hover {
    background-color: #0056b3;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 1rem;
    padding: 1.5rem;
    flex-grow: 1;
}

#product {
    height: 80%;
}

.product-detail {
    text-align: center;
    display: grid;
    grid-template:
        "title title title"
        "img desc price"
        "img desc bttn";
    justify-content: center;
    width: 100%;
}

.product-detail-title {
    grid-area: title;
}

.product-detail-img {
    grid-area: img;
    width: 420px;
    height: 320px;
}

.product-detail-description {
    grid-area: desc;
}



.product-detail-price {
    grid-area: price;
}

.product-detail.button {
    grid-area: bttn;
}

.product-detail-button input {
    width: 3rem;
}