<div class="text-center">
    <h1 class="text-center m-5">Lista de productos en tiempo real</h1>
    <ul id="productList">
        <div class="d-flex flex-wrap justify-content-evenly">
            {{#each products}}
            <li>
                <div class="card m-1 text-start" style="width: 18rem;">
                    <img src="{{thumbnail}}" alt="{{title}}" />
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{description}}</p>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </li>
            {{/each}}
        </div>
    </ul>
</div>
<form id="productForm">
    <input type="text" id="productName" placeholder="Nombre del producto">
    <button type="submit">Agregar producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    socket.on('productAdded', function (product) {
        const li = document.createElement('li');
        li.textContent = product;
        document.getElementById('productList').appendChild(li);
    });

    socket.on('productDeleted', function (product) {
        const liList = document.querySelectorAll('#productList li');
        liList.forEach(function (li) {
            if (li.textContent === product) {
                li.remove();
            }
        });
    });


    document.getElementById('productForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const productName = document.getElementById('productName').value;
        socket.emit('addProduct', productName);
        document.getElementById('productName').value = '';
    });
</script>